* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.flex-none {
    flex: none;
}

.flex-auto {
    flex: auto;
}

.bg-salmon {
    background-color: #eb5b51;
}

.bg-yellow {
    background-color: #e5cd14;
}

.bg-blue {
    background-color: #20adfd;
}

.vh-100 {
    min-height: 100vh;
}

.h-100 {
    height: 100%;
}

.flex-vw-6 {
    flex: 0 0 6vw;
}